body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.UserInfoPanel {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  justify-content: flex-start;
  flex-direction: column;
}
.UserInfo {
  // margin-top: 50px;
  // border-bottom: 5px solid black;
  // border-top: 5px solid black;
}
.UserInfoPanel>ul li:nth-child(odd) {
  background-color: lightblue;
}
.UserInfoPanel>ul li:nth-child(even) {
  background-color: lightcyan;
}
li {
 list-style-type: none;
}