body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.UserInfoPanel {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  justify-content: center;
}
.UserInfo {
  margin-left: 50px;
  margin-right: 50px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}